<br /><p><% if @user == current_user %>
	<%= link_to 'Change Password', edit_user_path(@user) %>
<% elsif can? :manage, User %>
	<%= link_to 'All Users', users_path %>
	| <%= link_to 'Edit User', edit_user_path(@user) %> |
	<%= link_to 'Delete User', user_path(@user), :method => 'delete', confirm: 'Are you sure?' %>
<% end %></p><br />

<h1>User</h1>

<p><strong>Email:</strong> <%= @user.email %></p>
<% if can? :manage, User %>
	<p><strong>Type:</strong>
    <% if @user.has_role? :admin %>
 		Admin
	<% else %>
		User</p>
	<% end %>
<% end %>

<div class="span2">
  <% if @user.reviews.any? %>
    <h3>Reviews (<%= @user.reviews.count %>)</h3>
    <ol class="reviews">
      <%= render @user_reviews %>
    </ol>
  <% end %>
</div>