<div id="featured" class="small-12 medium-8 columns" > <!-- main -->
  <ul class="index-orbit" data-orbit
       data-options="animation:slide;
                    pause_on_hover:true;
                    resume_on_mouseout:true;
                    animation_speed:500;
                    timer_speed: 5000;
                    navigation_arrows:true;
                    slide_number: false;
                    circular: true;">
    <% @featured.each do |f| %>
    <li>
      <%= link_to image_tag(f.imageurl, :alt => "slide "+f.id.to_s, :title => f.name), f %>
      <div class="orbit-caption">
        <%= link_to f.name, f %>
      </div>
    </li>
    <% end %>
  </ul>
  <div id="listings" class="row"> <!-- listings -->
    <div id="whatson" class="small-12 medium-6 columns"> <!-- random -->
      <h3>What's on</h3>
      <ul>
      <% @random_list.each do |r| %>
        <li>
          <div id="image">
            <%= link_to image_tag(r.imageurl, :alt => "image "+r.id.to_s, :title => r.name), r %>
          </div>
          <div id="text">
            <h3><small><%= link_to r.name, r %></small></h3>
          </div>
        </li>
      <% end %>
      </ul>
    </div> <!-- random -->
    <div id="popular" class="small-12 medium-6 columns show-for-medium-up"> <!-- popular -->
      <h3>Popular</h3>
      <ul>
      <% @popular_list.each do |p| %>
        <li>
          <div id="image">
            <%= link_to image_tag(p.imageurl, :alt => "image "+p.id.to_s, :title => p.name), p %>
          </div>
          <div id="text">
            <h3><small><%= link_to p.name, p %></small></h3>
          </div>
        </li>
      <% end %>
      </ul>
    </div> <!-- popular -->  
  </div><br /> <!-- listings -->
</div> <!-- main -->
          
<div class="small-12 medium-4 columns show-for-medium-up"> <!-- sidebar -->
  <%= render 'layouts/search' %>
</div><br /> <!-- sidebar -->

