<div class="row">
  <div class="small-12 columns">
    
    <%= form_for @category do |f| %>
      <% if @category.errors.any? %>
        <div id="error_explanation">
          <h3><small><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</small></h3>
          <ul>
          <% @category.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      
      <div class="row">
        <div class="small-12 medium-4 small-centered columns">
          <%= f.label :name %><br />
          <%= f.text_field :name, placeholder: "enter category name" %>
        </div>
      </div><br />
    
      <br /><br /><div class="row">
        <div class="small-12 medium-4 small-centered columns">
          <div class="row">
            <div class="small-12 medium-6 columns">
              <%= f.submit 'Create', :class => 'long-button' %>
            </div>
            <div class="small-12 medium-6 columns">
              <a href="<%= admin_path %>" class="long-button-grey">Cancel</a>
            </div>
          </div>
        </div>
      </div>
  
    <% end %>
    
  </div>
</div>