<div class="row">
  <div class="small-12 columns">
    
    <div class="row">
      <ul class="breadcrumb_nav">
        <li><%= link_to 'Home', root_path %></li>        
        <li><%= link_to 'Admin', admin_path %></li>        
        <li><%= link_to 'Categories', categories_path %></li>        
        <li class="current">Edit Category</li>
      </ul>
    </div>
    
    <div id="back_link" class="row">
      <%= link_to '< Back', :back %>
    </div>
    
    <div class="small-12 medium-4 small-centered columns">
      <h2 id="title">Edit category</h2>
    </div>
  </div>
</div><br />

<%= render 'form' %>


