<div class="row">
  <div class="small-12 columns">

    <div class="row">
      <ul class="breadcrumb_nav">
        <li><%= link_to 'Home', root_path %></li>
        <li class="current"><%= @category.name %></li>
      </ul>
    </div><br />
    
    <div class="row">
      <div class="small-12 large-3 columns show-for-large-up">
        <%= render 'layouts/search' %>
      </div>
    
      <div class="small-12 medium-9 large-6 columns">
        <div id="c_box">
          <div class="row">
            <div class="small-12 columns">
              <h3><%= @category.name %>
              <% if can? :manage, Category %>
                <%= link_to '(edit)', edit_category_path %>
              <% end %></h3>
              <ul>
              <% @category_attractions.each do |a| %>
                  <li>
                    <div id="c_a_image"  class="small-12 medium-6 columns">
                      <a class="th"<%= link_to(image_tag(a.imageurl, :alt => "Thumbnail Image", :style => "max-width:100%;height:auto;"), a) %></a>
                    </div>
                    <div id="c_a_text" class="small-12 medium-6 columns">
                      <h5><%= link_to a.name, a %></h5>
                      <% if a.average_rating != nil %>
                      <h3 id="c_a_rating"><small class="list_rating"><%= link_to 'Average rating: ', attraction_reviews_path(a.id) %><strong class="<%= 'h3'+a.average_rating.round(0).to_s %>"><%= link_to a.average_rating, attraction_reviews_path(a.id) %></strong></small></h3> 
                      <% else %>
                      <h3><small class="list_rating"><%= link_to 'Not yet rated', new_attraction_review_path(a.id) %></small></h3>
                      <% end %>
                      <h3><small id="list_summary"><%= link_to a.summary[0..50]+"...", a %></small></h3><br />
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div> <!-- row -->
        </div>
      </div>
      
      <div id="" class="small-12 large-3 columns">
      </div><br />
      
    </div> <!-- row -->
    
  </div>
</div> <!-- row -->