<div class="row">
  <div class="small-12 columns">
    
    <%= form_for [@parent, @review] do |f| %>
      <% if @review.errors.any? %>
        <div id="error_explanation">
          <h3><small><%= pluralize(@review.errors.count, "error") %> prohibited this user from being saved:</small></h3>
          <ul>
          <% @review.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="row">
        <div class="small-12 medium-4 small-centered columns">
          <%= f.label :title %><br />
          <%= f.text_field :title %>
        </div>
      </div><br />
    
      <div class="row">
        <div class="small-12 medium-4 small-centered columns">
          <%= f.label :rating %><br />
          <input placeholder="give a rating" <%= f.text_field :rating %>
        </div>
      </div><br />
      
      <div class="row">
        <div class="small-12 medium-4 small-centered columns">
          <%= f.label :comments %><br />
          <%= f.text_area :comments, :size => "30x10" %>
        </div>
      </div><br />
    
       <br /><br /><div class="row">
        <div class="small-12 medium-4 small-centered columns">
          <div class="row">
            <div class="small-12 medium-6 columns">
              <%= f.submit 'Submit', :class => 'long-button' %>
            </div>
            <div class="small-12 medium-6 columns">
              <%= link_to "Cancel", polymorphic_path([@parent, @review]), class: "long-button-grey" %>
            </div>
          </div>
        </div>
      </div>
    
    <% end %>
        
  </div>
</div>