<div class="row">
  <div class="small-12 columns">
    
    <div class="row">
      <ul class="breadcrumb_nav">
        <li><%= link_to @attraction.name, attraction_path(@attraction) %></li>
        <li><%= link_to 'Reviews', attraction_reviews_path(@attraction) %></li>
        <li class="current">New Review</li>
      </ul>
    </div>
    
    <div id="back_link" class="row">
      <%= link_to '< Back', [@parent, @review] %>
    </div>
    
    <div class="row">
      <div class="small-12 medium-4 small-centered columns">
        <h3 id="title"><%= @review.attraction.name %></h3>
        <h4 id="title">New review</h4>
      </div>
    </div>
    
    <%= render 'form' %>
        
 </div>
</div>