<div class="row">
  <div class="small-12 columns">
    
    <div class="row">
      <ul class="breadcrumb_nav">
        <% if @user %>
          <li><%= link_to 'User Profile', user_path(@user) %></li>
          <li><%= link_to 'Reviews', user_reviews_path(@user) %></li>
        <% elsif @attraction %>
          <li><%= link_to @attraction.name, attraction_path(@attraction) %></li>
          <li><%= link_to 'Reviews', attraction_reviews_path(@attraction) %></li>
        <% end %>
        <li class="current">Review</li>
      </ul>
    </div>
    
    <div id="back_link" class="row">
      <%= link_to '< Back', :back %>
    </div>
    
    <div class="row">
      
      <div class="small-12 medium-8 columns">
        <div id="show_review_container">
          <h3>Review for <%= link_to @review.attraction.name, @review.attraction %></h3>       
          <h3><small>By <%= link_to @review.user.email, user_path(@review.user_id) %>
            <% if user_signed_in? %>
              <% if @review.user.id == current_user.id %>
                (You)
              <% end %>
            <% end %>
          | <%= link_to 'Other reviews by this user', user_reviews_path(@review.user.id) %>
          </small></h3>
    
          <h3><small><strong>Rating: </strong><strong class="<%= 'h3'+@review.rating.to_s %>"><%= @review.rating %>/10</strong>
            <% if @review.title != nil %>
              <strong><%= @review.title %>, </strong>
            <% end %>
          <%= @review.created_at.strftime("%d %b %Y") %></small></h3>
  
          <p><%= @review.comments %></p>           
    
          <% if user_signed_in? %>
          <% if (@review.user.id == current_user.id) || (can? :manage, Review) %>
          <div class="row">
            <div class="small-12 medium-4 columns">
              <div id="review_list_controls" class="small-12 medium-5 columns">
                <%= link_to 'Edit', edit_polymorphic_path([@parent, @review]), class: "button tiny long-button" %>
              </div>
              <div id="review_list_controls" class="small-12 medium-5 columns">
                <%= link_to 'Delete', [@parent, @review], method: :delete, data: { confirm: 'Are you sure?' }, class: "button tiny alert long-button" %>
              </div>
            </div>
          </div> <!-- row -->                        
          <% end %>
          <% end %>
        </div>
      </div>
          
      <div class="small-12 medium-4 columns">
        <div class="show-for-medium-up">
          <a class="th" <%= link_to image_tag(@review.attraction.imageurl, :alt => "image "+@review.attraction.id.to_s, 
            :title => @review.attraction.name), attraction_path(@review.attraction) %></a>
          <h4>
            <% if @review.attraction.average_rating != nil %>
              <small class="list_rating"><%= link_to 'Average rating: ', attraction_reviews_path(@review.attraction.id) %></small>
              <small id="c_a_rating"><strong class="<%= 'h3'+@review.attraction.average_rating.round(0).to_s %>"><%= link_to @review.attraction.average_rating, attraction_reviews_path(@review.attraction.id) %></strong> | </small> 
            <% end %>
            <small>
            <% if @user_has_reviewed %>
             <%= link_to 'Edit your review', edit_polymorphic_path([@parent, @user_review]) %>
            <% else %>
             <%= link_to 'Write a review', new_attraction_review_path(@review.attraction) %>
            <% end %>
            </small>
          </h4>
        </div>
        <div>
          <br /><%= render 'layouts/search' %>
        </div>
      </div>
      
    </div> <!-- row -->
                
  </div>
</div> <!-- row -->