<div id="otherbox">
 <h3>Other 
   <% if @attraction %>
     <%= @attraction.category.name %>
   <% elsif @parent %>
     <%= @parent.category.name %></h3>
   <% end %>
  
 <br /><div class="row">
   <div class="small-12 columns">
     <ul>
      <% @category_attractions_limit.each do |c_a| %>
        <li>
          <div id="other_image">
            <a class="th"<%= link_to image_tag(c_a.imageurl, :alt => "image "+c_a.id.to_s, :title => c_a.name), c_a %></a>
          </div>
          <div id="other_text">
            <h3><small><%= link_to c_a.name, c_a %></small></h3>
            <% if c_a.average_rating != nil %>
              <h3><small class="list_rating"><%= link_to 'Average rating: ', attraction_reviews_path(c_a.id) %></small><small><strong class="<%= 'h3'+c_a.average_rating.round(0).to_s %>"><%= link_to c_a.average_rating, attraction_reviews_path(c_a.id) %></strong></small></h3> 
            <% else %>
              <h3><small class="list_rating"><%= link_to 'Not yet rated', new_attraction_review_path(c_a.id) %></small></h3>
            <% end %>
          </div>
        </li>
      <% end %>
      </ul>
   </div>
  </div>
</div><br />