<div class="row">
  <div class="small-12 columns">
    
    <div class="row">
      <ul class="breadcrumb_nav">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to @attraction.category.name, category_path(@attraction.category_id) %></li>
        <li class="current"><%= @attraction.name %></li>
      </ul>
    </div><br />
 
    <div class="row">

      <div class="small-12 large-3 columns show-for-large-up">
        <%= render 'layouts/search' %>
      </div>
  
      <div class="small-12 medium-9 large-6 columns">
        <div id="grouplist">
          <h3><%= @attraction.name %>
              <% if can? :manage, Attraction %>
                <%= link_to '(edit)', edit_attraction_path(@attraction) %>
              <% end %></h3>
          <div id= "image">
            <%= image_tag(@attraction.imageurl, :alt => "Image", :style => "max-width:100%;height:auto;") %>
          </div>
          <div id="desc_text">
            <% if @attraction.reviews.any? %>
              <h3 id="review_info"><small><%= link_to @attraction.reviews.count.to_s+" Reviews", attraction_reviews_path(@attraction, @reviews) %> | 
                <% if @user_has_reviewed %>
                 <%= link_to 'Edit your review', edit_attraction_review_path(@attraction, @user_review) %>
                <% else %>
                 <%= link_to 'Write a review', new_attraction_review_path(@attraction) %>
                <% end %>
              </small></h3>
            <h3 id="review_info"><small>Average rating: <strong class="<%= 'h3'+@attraction.average_rating.round(0).to_s %>"><%= @attraction.average_rating %></strong></small></h3>
            <% else %>
              <br /><%= link_to 'Be the first to review', new_attraction_review_path(@attraction.id) %><br /><br />
            <% end %>
            <br /><h4><%= @attraction.summary %></h4>
            <p><%= @attraction.description %></p>
            <div id="detailWeb">
              <h3><small>For more details visit:  <a href= <%= @attraction.website %>><%= @attraction.website %></a></small></h3><br />
            </div>
          </div>
        </div>
      </div>
    
      <div class="small-12 medium-3 large-3 columns">
        <%= render 'other_attractions' %>
      </div>
      
    </div> <!-- row -->

  </div>
</div> <!-- row -->
